<app-default-layout title="Preencha os seguintes campos do formulário:" primaryBtnText="Salvar" secondaryBtnText="Cancelar">
  <form [formGroup]="registerForm">
    <!--Nome do item-->
    <app-primary-input inputName="nameItem" type="text" placeholder="Nome do item" formControlName="nameItem" label="Nome do item"></app-primary-input>

    <div class="input-group">
      <!--Unidade de medida-->
      <app-primary-input inputName="unit" type="number" placeholder="" formControlName="unit" label="Unidade de medida"></app-primary-input>
      <span class="input-group-append">lt</span>

      <!--Quantidade-->
      <app-primary-input inputName="unit" type="number" placeholder="" formControlName="quantity" label="Unidade de medida"></app-primary-input>
      <span class="input-group-append">kg</span>
    </div>
  </form>
</app-default-layout>