@import "../../../styles/variables.scss";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.input-group-append {
  margin: 12px;
  padding-top: 28px;
  color: $primary-color;
  font-weight: bold;
}